$white: #fff;
$black: #000;
$purple: #8c30f5;
$primary-color: $purple;
$dark-color: #130720;

// utilities
$banner-h: 2.2rem;
$nav-h: 4.5rem;

// breakpoint
$sm: 641px;
$md: 769px;
$lg: 1025px;
$xl: 1535px;
$xxl: 1921px;
