.navbar {
  @include container;
  height: $nav-h;
  justify-content: space-between;
  .links {
    display: flex;
    gap: 1rem;
    a {
      font-weight: 600;
      color: black;
    }
  }
  .logo {
    a {
      font-weight: 800;
      color: black;
      font-size: 2rem;
    }
  }

  .social-links {
    display: flex;
    gap: 1rem;
  }

  @include maxW($sm) {
    flex-direction: row-reverse;
    .social-links {
      display: none;
    }
  }

  @include maxW(calc(#{$sm}/ 2)) {
    .links {
      gap: 0.6rem;
      font-size: 0.8rem;
    }
    .logo {
      a {
        font-size: 1.4rem;
      }
    }
  }
}
