.blog-page {
  @include container;
  flex-direction: column;
  gap: 2rem;
  padding: {
    top: 2rem;
    bottom: 2rem;
  }
  .blog-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    li {
      padding: 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}
