// Media queries
@mixin maxW($wVal) {
  @media (max-width: ($wVal)) {
    @content;
  }
}

@mixin minW($wVal) {
  @media (min-width: ($wVal)) {
    @content;
  }
}

@mixin container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 14vw;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;

  @include minW($xxl) {
    padding: 0 26vw;
  }

  @include maxW($xl) {
    padding: 0 11vw;
  }
  @include maxW($lg) {
    padding: 0 6vw;
  }
  @include maxW($sm) {
    padding: 0 4vw;
  }
}
