@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ed760;
  color: black;
  .txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 95vh;
    text-align: center;
    a {
      color: white;
      text-decoration: none;
      &:hover {
        color: yellow;
      }
    }
  }

  .lottie-anim {
    margin: 0 auto;
    @media (max-width: 768px) {
      width: 64vw;
      height: auto;
    }
  }
}
